<% provide(:title, '施設アカウント削除') %>
<% provide(:delete, '施設アカウント削除申請する') %>
<% provide(:delete_stop, '施設アカウント削除申請をキャンセルする') %>

<h1 id="new-title">施設アカウント削除</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>下記は施設アカウントの削除申請です。</h2>
    <h2>&emsp;本部で確認後、実際にアカウント削除されます。</h2>
    <%= form_with(model: @facility, url: update_destroy_account_facility_path(@facility), local: true, method: :patch) do |f| %>

      <%= f.label :password, class: "label-signup" %>
      <%= f.password_field :password, class: "form-control" %>

      <% if @facility.account_delete? %>
        <h1 class="delete_request">削除申請中</h1>
        <%= f.submit yield(:delete_stop), data: { confirm: "「#{@facility.name}」さんの施設アカウント削除申請を取り消してよろしいですか？"}, class: "btn btn-success btn-block" %>
      <% else %>
        <h3 class="account_delete">施設アカウントを削除申請しますか？</h3>
        <%= f.submit yield(:delete), data: { confirm: "「#{@facility.name}」さんの施設アカウント削除申請をしてよろしいですか？"}, class: "btn btn-danger btn-block" %>
      <% end %>
    <% end %>
  </div>
</div>



