<% provide(title: 'システム利用施設一覧') %>

<h1 class="title-position">システム利用施設一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-facilities">
    <thead>
      <tr>
        <th>施設名</th>
        <th></th>
      </tr>
    </thead>
    <% @facilities.each do |facility| %>
      <tr class="font-M">
        <td><%= facility.name %></td>
        <td>
          <%# if current_facility.admin? && !current_facility?(facility) %>
            <div style="float: right">
              <%= link_to "施設情報編集", edit_facility_info_facility_path(facility), remote: true, class: "btn btn-success" %>
              <%= link_to "二段階認証QRコード", authenticator_facility_path(facility), remote: true, class: "btn btn-info" %>
              <% if current_facility.admin? && !current_facility?(facility) %>
                <%= link_to "削除", facility, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
              <% else %>
                <%= link_to "ーー", "#", class: "btn btn-danger" %>
              <% end %>
            </div>
          <%# end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="authenticator" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_facility_info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
