<% provide(:title, '月別ヒヤリ・事故') %>

<div id="facility-name">
  <h3><%= current_facility.name %></h3>
</div>

<h1 class="month-title-position">月別ヒヤリ・事故報告書</h1>


<div class="container">
  <ul class="nav nav-tabs font-M">
    <li class="active"><a href="#2f" data-toggle="tab">2階フロア</a></li>
    <li><a href="#3f" data-toggle="tab">3階フロア</a></li>
    <li><a href="#4f" data-toggle="tab">4階フロア</a></li>
    <li><a href="#no_present" data-toggle="tab">退所者一覧</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="2f">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
            <tr class="active-color">
              <th class="active-position" colspan="3">年月</th>
            </tr>
          </thead>
          <% check = [] %>
          <% count = nil %>
          <% @accidents.each do |accident| %>
            <tbody>
              <tr>
                <td class="index-btn-position" colspan="2">
                  <% if accident.accident_datetime != check %>
                    <%= l(accident.accident_datetime, format: :middle) %>
                  <% end %>
                  <% check = accident.accident_datetime %>
                </td>
                <td class="accidents-count">
                  <% if accident.accident_datetime != count %>
                    ヒヤリ <%= @accidents.where(which_accident: "ヒヤリハット").where(accident_datetime: accident.accident_datetime).count %>件
                    事故 <%= @accidents.where(which_accident: "事故").where(accident_datetime: accident.accident_datetime).count %>件
                  <% end %>
                  <% count = accident.accident_datetime %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="3f">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="active-color">
            <th class="active-position" colspan="3">現在利用中</th>
          </tr>
          <tr class="th-index">
            <th style="text-align: center">利用者名</th>
            <th style="text-align: center">担当職員</th>
            <th style="text-align: center"></th>
          </tr>
          </thead>
          <%# @seniors3f.each do |senior| %>
            <%# if current_facility.id == senior.facility_id %>
              <tbody>
              <tr>

                <td class="index-btn-position" rowspan="3">
                  <%= link_to "編集", "#", remote: true, class: "btn btn-success" %>
                  <%= link_to "退所","#", method: :patch,
                              data: { confirm: "「#{}」さんを退所へ変更してよろしいですか？" }, class: "btn btn-warning"%>
                  <%= link_to "削除", "#", method: :delete,
                              data: { confirm: "「#{}」さんを削除してよろしいですか？" }, class: "btn btn-danger"  %>
                </td>
              </tr>
              </tbody>
            <%# end %>
          <%# end %>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="4f">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="active-color">
            <th class="active-position" colspan="3">現在利用中</th>
          </tr>
          <tr class="th-index">
            <th style="text-align: center">利用者名</th>
            <th style="text-align: center">担当職員</th>
            <th style="text-align: center"></th>
          </tr>
          </thead>
          <%# @seniors4f.each do |senior| %>
            <%# if current_facility.id == senior.facility_id %>
              <tbody>

              </tbody>
            <%# end %>
          <%# end %>
        </table>
      </div>
    </div>
  </div>
</div>