<% provide(:title, 'ヒヤリ・事故集計') %>

<div id="facility-name" style="margin-bottom: 30px;">
  <h3><%= current_facility.name %></h3>
</div>

<h1 class="title-position-center">ヒヤリ・事故集計</h1>

<div class="container">
  <div class="tab-content">
    <div class="col-md-12 tab-table">
      <table id="table_detail" class="table table-bordered table-condensed table-hover">
        <thead>
        <tr class="active-color">
          <th class="spreadsheet-thead" style="width: 20%">年月</th>
          <th class="spreadsheet-thead">2F/ヒヤリ・事故件数</th>
          <th class="spreadsheet-thead">3F/ヒヤリ・事故件数</th>
          <th class="spreadsheet-thead">4F/ヒヤリ・事故件数</th>
          <th class="spreadsheet-thead">閲覧</th>
        </tr>
        </thead>
        <% check = nil %>
        <% @accidents2f.each do |accident| %>
          <% if current_facility.id == accident.senior.facility_id %>
            <tbody>
              <!--月の最初一行だけを取り出す為のcheck-->
              <% if l(accident.accident_datetime, format: :integer) + (accident.accident_floor.to_s) != check %>
                <tr>
                  <td class="month">
                    <%= l(accident.accident_datetime, format: :middle) %>
                  </td>
                  <td class="month-count">
                    【ヒヤリ <%= @hat_count2f.where(accident_datetime: accident.accident_datetime.in_time_zone.all_month).count %>件】
                    【事故 <%= @accident_count2f.where(which_accident: "事故").where(accident_datetime: accident.accident_datetime.in_time_zone.all_month).count %>件】
                  </td>
                  <td class="month-count">
                    【ヒヤリ <%= @hat_count3f.where(accident_datetime: accident.accident_datetime.in_time_zone.all_month).count %>件】
                    【事故 <%= @accident_count3f.where(which_accident: "事故").where(accident_datetime: accident.accident_datetime.in_time_zone.all_month).count %>件】
                  </td>
                  <td class="month-count">
                    【ヒヤリ <%= @hat_count4f.where(accident_datetime: accident.accident_datetime.in_time_zone.all_month).count %>件】
                    【事故 <%= @accident_count4f.where(which_accident: "事故").where(accident_datetime: accident.accident_datetime.in_time_zone.all_month).count %>件】
                  </td>
                  <td class="index-btn-position" style="width: 18%;">
                    <%= link_to "#{l(accident.accident_datetime, format: :middle)} ヒヤリ・事故集計表", "#", remote: true, class: "btn-square-shadow-mini" %>
                  </td>
                </tr>
                <% check = l(accident.accident_datetime, format: :integer) + (accident.accident_floor.to_s) %>
              <% end %>
            </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>















<%#= Accident.where(accident_floor: 2).where(event_classification: "薬に関すること").count %>

<!--何月？-->

<!--時間帯-->