<tr>
  <td class="event-td">入浴</td>
  <td class="event-td"> <!--2f/入浴/7~9時/-->
    <%= @bathing_hat2f_7_9.count if @bathing_hat2f_7_9.present? %>
  </td>
  <td class="event-td"> <!--3f/入浴/7~9時/-->
    <%= @bathing_hat3f_7_9.count if @bathing_hat3f_7_9.present? %>
  </td>
  <td class="event-td"> <!--4f/入浴/7~9時/-->
    <%= @bathing_hat4f_7_9.count if @bathing_hat4f_7_9.present? %>
  </td>
  <td class="event-td"> <!--2f/入浴/9~12時/-->
    <%= @bathing_hat2f_9_12.count if @bathing_hat2f_9_12.present? %>
  </td>
  <td class="event-td"> <!--3f/入浴/9~12時/-->
    <%= @bathing_hat3f_9_12.count if @bathing_hat3f_9_12.present? %>
  </td>
  <td class="event-td"> <!--4f/入浴/9~12時/-->
    <%= @bathing_hat4f_9_12.count if @bathing_hat4f_9_12.present? %>
  </td>
  <td class="event-td"> <!--2f/入浴/12~14時/-->
    <%= @bathing_hat2f_12_14.count if @bathing_hat2f_12_14.present? %>
  </td>
  <td class="event-td"> <!--3f/入浴/12~14時/-->
    <%= @bathing_hat3f_12_14.count if @bathing_hat3f_12_14.present? %>
  </td>
  <td class="event-td"> <!--4f/入浴/12~14時/-->
    <%= @bathing_hat4f_12_14.count if @bathing_hat4f_12_14.present? %>
  </td>
  <td class="event-td"> <!--2f/入浴/14~17時/-->
    <%= @bathing_hat2f_14_17.count if @bathing_hat2f_14_17.present? %>
  </td>
  <td class="event-td"> <!--3f/入浴/14~17時/-->
    <%= @bathing_hat3f_14_17.count if @bathing_hat3f_14_17.present? %>
  </td>
  <td class="event-td"> <!--4f/入浴/14~17時/-->
    <%= @bathing_hat4f_14_17.count if @bathing_hat4f_14_17.present? %>
  </td>
  <td class="event-td"> <!--2f/入浴/17~19時/-->
    <%= @bathing_hat2f_17_19.count if @bathing_hat2f_17_19.present? %>
  </td>
  <td class="event-td"> <!--3f/入浴/17~19時/-->
    <%= @bathing_hat3f_17_19.count if @bathing_hat3f_17_19.present? %>
  </td>
  <td class="event-td"> <!--4f/入浴/17~19時/-->
    <%= @bathing_hat4f_17_19.count if @bathing_hat4f_17_19.present? %>
  </td>
  <td class="event-td"> <!--2f/入浴/19~22時/-->
    <%= @bathing_hat2f_19_22.count if @bathing_hat2f_19_22.present? %>
  </td>
  <td class="event-td"> <!--3f/入浴/19~22時/-->
    <%= @bathing_hat3f_19_22.count if @bathing_hat3f_19_22.present? %>
  </td>
  <td class="event-td"> <!--4f/入浴/19~22時/-->
    <%= @bathing_hat4f_19_22.count if @bathing_hat4f_19_22.present? %>
  </td>
  <td class="event-td"> <!--2f/入浴/22~3時/-->
    <%= @bathing_hat2f_22_3.count if @bathing_hat2f_22_3.present? %>
  </td>
  <td class="event-td"> <!--3f/入浴/22~3時/-->
    <%= @bathing_hat3f_22_3.count if @bathing_hat3f_22_3.present? %>
  </td>
  <td class="event-td"> <!--4f/入浴/22~3時/-->
    <%= @bathing_hat4f_22_3.count if @bathing_hat4f_22_3.present? %>
  </td>
  <td class="event-td"> <!--2f/入浴/3~7時/-->
    <%= @bathing_hat2f_3_7.count if @bathing_hat2f_3_7.present? %>
  </td>
  <td class="event-td"> <!--3f/入浴/3~7時/-->
    <%= @bathing_hat3f_3_7.count if @bathing_hat3f_3_7.present? %>
  </td>
  <td class="event-td"> <!--4f/入浴/3~7時/-->
    <%= @bathing_hat4f_3_7.count if @bathing_hat4f_3_7.present? %>
  </td>
  <td class="event-td"> <!--2f/合計-->
    <%= @bathing_hat_accidents2f.count %>
  </td>
  <td class="event-td"> <!--3f/合計-->
    <%= @bathing_hat_accidents3f.count %>
  </td>
  <td class="event-td"> <!--4f/合計-->
    <%= @bathing_hat_accidents4f.count %>
  </td>
</tr>