<!--２階場面の事故-->
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['２F場面の事故', '件数'],
            ['通所・送迎(<%= @service_hat_accidents2f.count %>件)', <%= @service_hat_accidents2f.count %>],
            ['活動・支援（施設内/外出）(<%= @support_hat_accidents2f.count %>件)', <%= @support_hat_accidents2f.count %>],
            ['給食・配膳(<%= @lunch_hat_accidents2f.count %>件)', <%= @lunch_hat_accidents2f.count %>],
            ['トイレ・排泄(<%= @toilet_hat_accidents2f.count %>件)', <%= @toilet_hat_accidents2f.count %>],
            ['入浴(<%= @bathing_hat_accidents2f.count %>件)', <%= @bathing_hat_accidents2f.count %>],
            ['その他 ※(<%= @other_scene_hat_accidents2f.count %>件)', <%= @other_scene_hat_accidents2f.count %>]
        ]);
        var options = {
            title: '2F場面の事故件数',
            is3D: true,
            backgroundColor: '#FDF5E6'
        };
        var chart = new google.visualization.PieChart(document.getElementById('hat_scene_2f'));
        chart.draw(data, options);
    }
</script>

<!--３階場面の事故-->
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['３F場面の事故', '件数'],
            ['通所・送迎(<%= @service_hat_accidents3f.count %>件)', <%= @service_hat_accidents3f.count %>],
            ['活動・支援（施設内/外出）(<%= @support_hat_accidents3f.count %>件)', <%= @support_hat_accidents3f.count %>],
            ['給食・配膳(<%= @lunch_hat_accidents3f.count %>件)', <%= @lunch_hat_accidents3f.count %>],
            ['トイレ・排泄(<%= @toilet_hat_accidents3f.count %>件)', <%= @toilet_hat_accidents3f.count %>],
            ['入浴(<%= @bathing_hat_accidents3f.count %>件)', <%= @bathing_hat_accidents3f.count %>],
            ['その他 ※(<%= @other_scene_hat_accidents3f.count %>件)', <%= @other_scene_hat_accidents3f.count %>]
        ]);
        var options = {
            title: '３F場面の事故件数',
            is3D: true,
            backgroundColor: '#FDF5E6'
        };
        var chart = new google.visualization.PieChart(document.getElementById('hat_scene_3f'));
        chart.draw(data, options);
    }
</script>

<!--４階場面の事故-->
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['４F場面の事故', '件数'],
            ['通所・送迎(<%= @service_hat_accidents4f.count %>件)', <%= @service_hat_accidents4f.count %>],
            ['活動・支援（施設内/外出）(<%= @support_hat_accidents4f.count %>件)', <%= @support_hat_accidents4f.count %>],
            ['給食・配膳(<%= @lunch_hat_accidents4f.count %>件)', <%= @lunch_hat_accidents4f.count %>],
            ['トイレ・排泄(<%= @toilet_hat_accidents4f.count %>件)', <%= @toilet_hat_accidents4f.count %>],
            ['入浴(<%= @bathing_hat_accidents4f.count %>件)', <%= @bathing_hat_accidents4f.count %>],
            ['その他 ※(<%= @other_scene_hat_accidents4f.count %>件)', <%= @other_scene_hat_accidents4f.count %>]
        ]);
        var options = {
            title: '４F場面の事故件数',
            is3D: true,
            backgroundColor: '#FDF5E6'
        };
        var chart = new google.visualization.PieChart(document.getElementById('hat_scene_4f'));
        chart.draw(data, options);
    }
</script>

<!--総合場面の事故-->
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['全フロア場面の事故', '合計件数'],
            ['通所・送迎(<%= @service_hat_all %>件)', <%= @service_hat_all %>],
            ['活動・支援（施設内/外出）(<%= @support_hat_all %>件)', <%= @support_hat_all %>],
            ['給食・配膳(<%= @lunch_hat_all %>件)', <%= @lunch_hat_all %>],
            ['トイレ・排泄(<%= @toilet_hat_all %>件)', <%= @toilet_hat_all %>],
            ['入浴(<%= @bathing_hat_all %>件)', <%= @bathing_hat_all %>],
            ['その他 ※(<%= @other_scene_hat_all %>件)', <%= @other_scene_hat_all %>]
        ]);
        var options = {
            title: '全フロア場面の事故合計件数',
            is3D: true,
            backgroundColor: '#FDF5E6'
        };
        var chart = new google.visualization.PieChart(document.getElementById('hat_scene_total'));
        chart.draw(data, options);
    }
</script>
<div class="api_position_all">
  <div id="hat_scene_2f" class="api_position"></div>
  <div id="hat_scene_3f" class="api_position"></div>
  <div id="hat_scene_4f" class="api_position"></div>
  <div id="hat_scene_total" class="api_position"></div>
</div>