<tr>
  <td class="event-td">器物破損</td>
  <td class="event-td"> <!--2f/器物破損/7~9時/-->
    <%= @damage_hat2f_7_9.count if @damage_hat2f_7_9.present? %>
  </td>
  <td class="event-td"> <!--3f/器物破損/7~9時/-->
    <%= @damage_hat3f_7_9.count if @damage_hat3f_7_9.present? %>
  </td>
  <td class="event-td"> <!--4f/器物破損/7~9時/-->
    <%= @damage_hat4f_7_9.count if @damage_hat4f_7_9.present? %>
  </td>
  <td class="event-td"> <!--2f/器物破損/9~12時/-->
    <%= @damage_hat2f_9_12.count if @damage_hat2f_9_12.present? %>
  </td>
  <td class="event-td"> <!--3f/器物破損/9~12時/-->
    <%= @damage_hat3f_9_12.count if @damage_hat3f_9_12.present? %>
  </td>
  <td class="event-td"> <!--4f/器物破損/9~12時/-->
    <%= @damage_hat4f_9_12.count if @damage_hat4f_9_12.present? %>
  </td>
  <td class="event-td"> <!--2f/器物破損/12~14時/-->
    <%= @damage_hat2f_12_14.count if @damage_hat2f_12_14.present? %>
  </td>
  <td class="event-td"> <!--3f/器物破損/12~14時/-->
    <%= @damage_hat3f_12_14.count if @damage_hat3f_12_14.present? %>
  </td>
  <td class="event-td"> <!--4f/器物破損/12~14時/-->
    <%= @damage_hat4f_12_14.count if @damage_hat4f_12_14.present? %>
  </td>
  <td class="event-td"> <!--2f/器物破損/14~17時/-->
    <%= @damage_hat2f_14_17.count if @damage_hat2f_14_17.present? %>
  </td>
  <td class="event-td"> <!--3f/器物破損/14~17時/-->
    <%= @damage_hat3f_14_17.count if @damage_hat3f_14_17.present? %>
  </td>
  <td class="event-td"> <!--4f/器物破損/14~17時/-->
    <%= @damage_hat4f_14_17.count if @damage_hat4f_14_17.present? %>
  </td>
  <td class="event-td"> <!--2f/器物破損/17~19時/-->
    <%= @damage_hat2f_17_19.count if @damage_hat2f_17_19.present? %>
  </td>
  <td class="event-td"> <!--3f/器物破損/17~19時/-->
    <%= @damage_hat3f_17_19.count if @damage_hat3f_17_19.present? %>
  </td>
  <td class="event-td"> <!--4f/器物破損/17~19時/-->
    <%= @damage_hat4f_17_19.count if @damage_hat4f_17_19.present? %>
  </td>
  <td class="event-td"> <!--2f/器物破損/19~22時/-->
    <%= @damage_hat2f_19_22.count if @damage_hat2f_19_22.present? %>
  </td>
  <td class="event-td"> <!--3f/器物破損/19~22時/-->
    <%= @damage_hat3f_19_22.count if @damage_hat3f_19_22.present? %>
  </td>
  <td class="event-td"> <!--4f/器物破損/19~22時/-->
    <%= @damage_hat4f_19_22.count if @damage_hat4f_19_22.present? %>
  </td>
  <td class="event-td"> <!--2f/器物破損/22~3時/-->
    <%= @damage_hat2f_22_3.count if @damage_hat2f_22_3.present? %>
  </td>
  <td class="event-td"> <!--3f/器物破損/22~3時/-->
    <%= @damage_hat3f_22_3.count if @damage_hat3f_22_3.present? %>
  </td>
  <td class="event-td"> <!--4f/器物破損/22~3時/-->
    <%= @damage_hat4f_22_3.count if @damage_hat4f_22_3.present? %>
  </td>
  <td class="event-td"> <!--2f/器物破損/3~7時/-->
    <%= @damage_hat2f_3_7.count if @damage_hat2f_3_7.present? %>
  </td>
  <td class="event-td"> <!--3f/器物破損/3~7時/-->
    <%= @damage_hat3f_3_7.count if @damage_hat3f_3_7.present? %>
  </td>
  <td class="event-td"> <!--4f/器物破損/3~7時/-->
    <%= @damage_hat4f_3_7.count if @damage_hat4f_3_7.present? %>
  </td>
  <td class="event-td"> <!--2f/器物破損/合計/-->
    <%= @damage_hat_accidents2f.count %>
  </td>
  <td class="event-td"> <!--3f/器物破損/合計/-->
    <%= @damage_hat_accidents3f.count %>
  </td>
  <td class="event-td"> <!--4f/器物破損/合計/-->
    <%= @damage_hat_accidents4f.count %>
  </td>
</tr>