<tr>
  <td class="event-td">情報・連絡・報告</td>
  <td class="event-td"> <!--2f/情報・連絡・報告/7~9時/-->
    <% range = [] %>
    <% @info_hat_accidents2f.each do |hat| %>
      <% range << hat if time_range_7_9(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--3f/情報・連絡・報告/7~9時/-->
    <% range = [] %>
    <% @info_hat_accidents3f.each do |hat| %>
      <% range << hat if time_range_7_9(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--4f/情報・連絡・報告/7~9時/-->
    <% range = [] %>
    <% @info_hat_accidents4f.each do |hat| %>
      <% range << hat if time_range_7_9(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--医務/情報・連絡・報告/7~9時/-->

  </td>
  <td class="event-td"> <!--2f/情報・連絡・報告/9~12時/-->
    <% range = [] %>
    <% @info_hat_accidents2f.each do |hat| %>
      <% range << hat if time_range_9_12(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--3f/情報・連絡・報告/9~12時/-->
    <% range = [] %>
    <% @info_hat_accidents3f.each do |hat| %>
      <% range << hat if time_range_9_12(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--4f/情報・連絡・報告/9~12時/-->
    <% range = [] %>
    <% @info_hat_accidents4f.each do |hat| %>
      <% range << hat if time_range_9_12(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--医務/情報・連絡・報告/9~12時/-->

  </td>
  <td class="event-td"> <!--2f/情報・連絡・報告/12~14時/-->
    <% range = [] %>
    <% @info_hat_accidents2f.each do |hat| %>
      <% range << hat if time_range_12_14(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--3f/情報・連絡・報告/12~14時/-->
    <% range = [] %>
    <% @info_hat_accidents3f.each do |hat| %>
      <% range << hat if time_range_12_14(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--4f/情報・連絡・報告/12~14時/-->
    <% range = [] %>
    <% @info_hat_accidents4f.each do |hat| %>
      <% range << hat if time_range_12_14(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--医務/情報・連絡・報告/12~14時/-->

  </td>
  <td class="event-td"> <!--2f/情報・連絡・報告/14~17時/-->
    <% range = [] %>
    <% @info_hat_accidents2f.each do |hat| %>
      <% range << hat if time_range_14_17(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--3f/情報・連絡・報告/14~17時/-->
    <% range = [] %>
    <% @info_hat_accidents3f.each do |hat| %>
      <% range << hat if time_range_14_17(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--4f/情報・連絡・報告/14~17時/-->
    <% range = [] %>
    <% @info_hat_accidents4f.each do |hat| %>
      <% range << hat if time_range_14_17(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--医務/情報・連絡・報告/14~17時/-->

  </td>
  <td class="event-td"> <!--2f/情報・連絡・報告/17~19時/-->
    <% range = [] %>
    <% @info_hat_accidents2f.each do |hat| %>
      <% range << hat if time_range_17_19(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--3f/情報・連絡・報告/17~19時/-->
    <% range = [] %>
    <% @info_hat_accidents3f.each do |hat| %>
      <% range << hat if time_range_17_19(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--4f/情報・連絡・報告/17~19時/-->
    <% range = [] %>
    <% @info_hat_accidents4f.each do |hat| %>
      <% range << hat if time_range_17_19(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--医務/情報・連絡・報告/17~19時/-->

  </td>
  <td class="event-td"> <!--2f/情報・連絡・報告/19~22時/-->
    <% range = [] %>
    <% @info_hat_accidents2f.each do |hat| %>
      <% range << hat if time_range_19_22(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--3f/情報・連絡・報告/19~22時/-->
    <% range = [] %>
    <% @info_hat_accidents3f.each do |hat| %>
      <% range << hat if time_range_19_22(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--4f/情報・連絡・報告/19~22時/-->
    <% range = [] %>
    <% @info_hat_accidents4f.each do |hat| %>
      <% range << hat if time_range_19_22(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--医務/情報・連絡・報告/19~22時/-->

  </td>
  <td class="event-td"> <!--2f/情報・連絡・報告/22~3時/-->
    <% range = [] %>
    <% @info_hat_accidents2f.each do |hat| %>
      <% range << hat if time_range_22_3(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--3f/情報・連絡・報告/22~3時/-->
    <% range = [] %>
    <% @info_hat_accidents3f.each do |hat| %>
      <% range << hat if time_range_22_3(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--4f/情報・連絡・報告/22~3時/-->
    <% range = [] %>
    <% @info_hat_accidents4f.each do |hat| %>
      <% range << hat if time_range_22_3(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--医務/情報・連絡・報告/22~3時/-->

  </td>
  <td class="event-td"> <!--2f/情報・連絡・報告/3~7時/-->
    <% range = [] %>
    <% @info_hat_accidents2f.each do |hat| %>
      <% range << hat if time_range_3_7(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--3f/情報・連絡・報告/3~7時/-->
    <% range = [] %>
    <% @info_hat_accidents3f.each do |hat| %>
      <% range << hat if time_range_3_7(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--4f/情報・連絡・報告/3~7時/-->
    <% range = [] %>
    <% @info_hat_accidents4f.each do |hat| %>
      <% range << hat if time_range_3_7(hat) %>
    <% end %>
    <%= range.count if range.count > 0 %>
  </td>
  <td class="event-td"> <!--医務/情報・連絡・報告/3~7時/-->

  </td>
  <td class="event-td"> <!--2f/情報・連絡・報告/合計/-->
    <%= @info_hat_accidents2f.count %>
  </td>
  <td class="event-td"> <!--3f/情報・連絡・報告/合計/-->
    <%= @info_hat_accidents3f.count %>
  </td>
  <td class="event-td"> <!--4f/情報・連絡・報告/合計/-->
    <%= @info_hat_accidents4f.count %>
  </td>
  <td class="event-td"> <!--医務/情報・連絡・報告/合計/-->

  </td>
</tr>