<tr>
  <td class="event-td">紛失</td>
  <td class="event-td"> <!--2f/紛失/7~9時/-->
    <%= @lost_hat2f_7_9.count if @lost_hat2f_7_9.present? %>
  </td>
  <td class="event-td"> <!--3f/紛失/7~9時/-->
    <%= @lost_hat3f_7_9.count if @lost_hat3f_7_9.present? %>
  </td>
  <td class="event-td"> <!--4f/紛失/7~9時/-->
    <%= @lost_hat4f_7_9.count if @lost_hat4f_7_9.present? %>
  </td>
  <td class="event-td"> <!--医務/紛失/7~9時/-->
  </td>
  <td class="event-td"> <!--2f/紛失/9~12時/-->
    <%= @lost_hat2f_9_12.count if @lost_hat2f_9_12.present? %>
  </td>
  <td class="event-td"> <!--3f/紛失/9~12時/-->
    <%= @lost_hat3f_9_12.count if @lost_hat3f_9_12.present? %>
  </td>
  <td class="event-td"> <!--4f/紛失/9~12時/-->
    <%= @lost_hat4f_9_12.count if @lost_hat4f_9_12.present? %>
  </td>
  <td class="event-td"> <!--医務/紛失/9~12時/-->
  </td>
  <td class="event-td"> <!--2f/紛失/12~14時/-->
    <%= @lost_hat2f_12_14.count if @lost_hat2f_12_14.present? %>
  </td>
  <td class="event-td"> <!--3f/紛失/12~14時/-->
    <%= @lost_hat3f_12_14.count if @lost_hat3f_12_14.present? %>
  </td>
  <td class="event-td"> <!--4f/紛失/12~14時/-->
    <%= @lost_hat4f_12_14.count if @lost_hat4f_12_14.present? %>
  </td>
  <td class="event-td"> <!--医務/紛失/12~14時/-->
  </td>
  <td class="event-td"> <!--2f/紛失/14~17時/-->
    <%= @lost_hat2f_14_17.count if @lost_hat2f_14_17.present? %>
  </td>
  <td class="event-td"> <!--3f/紛失/14~17時/-->
    <%= @lost_hat3f_14_17.count if @lost_hat3f_14_17.present? %>
  </td>
  <td class="event-td"> <!--4f/紛失/14~17時/-->
    <%= @lost_hat4f_14_17.count if @lost_hat4f_14_17.present? %>
  </td>
  <td class="event-td"> <!--医務/紛失/14~17時/-->
  </td>
  <td class="event-td"> <!--2f/紛失/17~19時/-->
    <%= @lost_hat2f_17_19.count if @lost_hat2f_17_19.present? %>
  </td>
  <td class="event-td"> <!--3f/紛失/17~19時/-->
    <%= @lost_hat3f_17_19.count if @lost_hat3f_17_19.present? %>
  </td>
  <td class="event-td"> <!--4f/紛失/17~19時/-->
    <%= @lost_hat4f_17_19.count if @lost_hat4f_17_19.present? %>
  </td>
  <td class="event-td"> <!--医務/紛失/17~19時/-->
  </td>
  <td class="event-td"> <!--2f/紛失/19~22時/-->
    <%= @lost_hat2f_19_22.count if @lost_hat2f_19_22.present? %>
  </td>
  <td class="event-td"> <!--3f/紛失/19~22時/-->
    <%= @lost_hat3f_19_22.count if @lost_hat3f_19_22.present? %>
  </td>
  <td class="event-td"> <!--4f/紛失/19~22時/-->
    <%= @lost_hat4f_19_22.count if @lost_hat4f_19_22.present? %>
  </td>
  <td class="event-td"> <!--医務/紛失/19~22時/-->
  </td>
  <td class="event-td"> <!--2f/紛失/22~3時/-->
    <%= @lost_hat2f_22_3.count if @lost_hat2f_22_3.present? %>
  </td>
  <td class="event-td"> <!--3f/紛失/22~3時/-->
    <%= @lost_hat3f_22_3.count if @lost_hat3f_22_3.present? %>
  </td>
  <td class="event-td"> <!--4f/紛失/22~3時/-->
    <%= @lost_hat4f_22_3.count if @lost_hat4f_22_3.present? %>
  </td>
  <td class="event-td"> <!--医務/紛失/22~3時/-->
  </td>
  <td class="event-td"> <!--2f/紛失/3~7時/-->
    <%= @lost_hat2f_3_7.count if @lost_hat2f_3_7.present? %>
  </td>
  <td class="event-td"> <!--3f/紛失/3~7時/-->
    <%= @lost_hat3f_3_7.count if @lost_hat3f_3_7.present? %>
  </td>
  <td class="event-td"> <!--4f/紛失/3~7時/-->
    <%= @lost_hat4f_3_7.count if @lost_hat4f_3_7.present? %>
  </td>
  <td class="event-td"> <!--医務/紛失/3~7時/-->
  </td>
  <td class="event-td"> <!--2f/紛失/合計/-->
    <%= @lost_hat_accidents2f.count %>
  </td>
  <td class="event-td"> <!--3f/紛失/合計/-->
    <%= @lost_hat_accidents3f.count %>
  </td>
  <td class="event-td"> <!--4f/紛失/合計/-->
    <%= @lost_hat_accidents4f.count %>
  </td>
  <td class="event-td"> <!--医務/紛失/合計/-->
  </td>
</tr>