<tr>
  <td class="event-td">給食・配膳</td>
  <td class="event-td"> <!--2f/給食・配膳/7~9時/-->
    <%= @lunch_hat2f_7_9.count if @lunch_hat2f_7_9.present? %>
  </td>
  <td class="event-td"> <!--3f/給食・配膳/7~9時/-->
    <%= @lunch_hat3f_7_9.count if @lunch_hat3f_7_9.present? %>
  </td>
  <td class="event-td"> <!--4f/給食・配膳/7~9時/-->
    <%= @lunch_hat4f_7_9.count if @lunch_hat4f_7_9.present? %>
  </td>
  <td class="event-td"> <!--医務/給食・配膳/7~9時/-->
  </td>
  <td class="event-td"> <!--2f/給食・配膳/9~12時/-->
    <%= @lunch_hat2f_9_12.count if @lunch_hat2f_9_12.present? %>
  </td>
  <td class="event-td"> <!--3f/給食・配膳/9~12時/-->
    <%= @lunch_hat3f_9_12.count if @lunch_hat3f_9_12.present? %>
  </td>
  <td class="event-td"> <!--4f/給食・配膳/9~12時/-->
    <%= @lunch_hat4f_9_12.count if @lunch_hat4f_9_12.present? %>
  </td>
  <td class="event-td"> <!--医務/給食・配膳/9~12時/-->
  </td>
  <td class="event-td"> <!--2f/給食・配膳/12~14時/-->
    <%= @lunch_hat2f_12_14.count if @lunch_hat2f_12_14.present? %>
  </td>
  <td class="event-td"> <!--3f/給食・配膳/12~14時/-->
    <%= @lunch_hat3f_12_14.count if @lunch_hat3f_12_14.present? %>
  </td>
  <td class="event-td"> <!--4f/給食・配膳/12~14時/-->
    <%= @lunch_hat4f_12_14.count if @lunch_hat4f_12_14.present? %>
  </td>
  <td class="event-td"> <!--医務/給食・配膳/12~14時/-->
  </td>
  <td class="event-td"> <!--2f/給食・配膳/14~17時/-->
    <%= @lunch_hat2f_14_17.count if @lunch_hat2f_14_17.present? %>
  </td>
  <td class="event-td"> <!--3f/給食・配膳/14~17時/-->
    <%= @lunch_hat3f_14_17.count if @lunch_hat3f_14_17.present? %>
  </td>
  <td class="event-td"> <!--4f/給食・配膳/14~17時/-->
    <%= @lunch_hat4f_14_17.count if @lunch_hat4f_14_17.present? %>
  </td>
  <td class="event-td"> <!--医務/給食・配膳/14~17時/-->
  </td>
  <td class="event-td"> <!--2f/給食・配膳/17~19時/-->
    <%= @lunch_hat2f_17_19.count if @lunch_hat2f_17_19.present? %>
  </td>
  <td class="event-td"> <!--3f/給食・配膳/17~19時/-->
    <%= @lunch_hat3f_17_19.count if @lunch_hat3f_17_19.present? %>
  </td>
  <td class="event-td"> <!--4f/給食・配膳/17~19時/-->
    <%= @lunch_hat4f_17_19.count if @lunch_hat4f_17_19.present? %>
  </td>
  <td class="event-td"> <!--医務/給食・配膳/17~19時/-->
  </td>
  <td class="event-td"> <!--2f/給食・配膳/19~22時/-->
    <%= @lunch_hat2f_19_22.count if @lunch_hat2f_19_22.present? %>
  </td>
  <td class="event-td"> <!--3f/給食・配膳/19~22時/-->
    <%= @lunch_hat3f_19_22.count if @lunch_hat3f_19_22.present? %>
  </td>
  <td class="event-td"> <!--4f/給食・配膳/19~22時/-->
    <%= @lunch_hat4f_19_22.count if @lunch_hat4f_19_22.present? %>
  </td>
  <td class="event-td"> <!--医務/給食・配膳/19~22時/-->
  </td>
  <td class="event-td"> <!--2f/給食・配膳/22~3時/-->
    <%= @lunch_hat2f_22_3.count if @lunch_hat2f_22_3.present? %>
  </td>
  <td class="event-td"> <!--3f/給食・配膳/22~3時/-->
    <%= @lunch_hat3f_22_3.count if @lunch_hat3f_22_3.present? %>
  </td>
  <td class="event-td"> <!--4f/給食・配膳/22~3時/-->
    <%= @lunch_hat4f_22_3.count if @lunch_hat4f_22_3.present? %>
  </td>
  <td class="event-td"> <!--医務/給食・配膳/22~3時/-->
  </td>
  <td class="event-td"> <!--2f/給食・配膳/3~7時/-->
    <%= @lunch_hat2f_3_7.count if @lunch_hat2f_3_7.present? %>
  </td>
  <td class="event-td"> <!--3f/給食・配膳/3~7時/-->
    <%= @lunch_hat3f_3_7.count if @lunch_hat3f_3_7.present? %>
  </td>
  <td class="event-td"> <!--4f/給食・配膳/3~7時/-->
    <%= @lunch_hat4f_3_7.count if @lunch_hat4f_3_7.present? %>
  </td>
  <td class="event-td"> <!--医務/給食・配膳/3~7時/-->
  </td>
  <td class="event-td"> <!--2f/合計-->
    <%= @lunch_hat_accidents2f.count %>
  </td>
  <td class="event-td"> <!--3f/合計-->
    <%= @lunch_hat_accidents3f.count %>
  </td>
  <td class="event-td"> <!--4f/合計-->
    <%= @lunch_hat_accidents4f.count %>
  </td>
  <td class="event-td"> <!--医務/合計-->
    0
  </td>
</tr>