<tr>
  <td class="event-td">トイレ・排泄</td>
  <td class="event-td"> <!--2f/トイレ・排泄/7~9時/-->
    <%= @toilet_hat2f_7_9.count if @toilet_hat2f_7_9.present? %>
  </td>
  <td class="event-td"> <!--3f/トイレ・排泄/7~9時/-->
    <%= @toilet_hat3f_7_9.count if @toilet_hat3f_7_9.present? %>
  </td>
  <td class="event-td"> <!--4f/トイレ・排泄/7~9時/-->
    <%= @toilet_hat4f_7_9.count if @toilet_hat4f_7_9.present? %>
  </td>
  <td class="event-td"> <!--2f/トイレ・排泄/9~12時/-->
    <%= @toilet_hat2f_9_12.count if @toilet_hat2f_9_12.present? %>
  </td>
  <td class="event-td"> <!--3f/トイレ・排泄/9~12時/-->
    <%= @toilet_hat3f_9_12.count if @toilet_hat3f_9_12.present? %>
  </td>
  <td class="event-td"> <!--4f/トイレ・排泄/9~12時/-->
    <%= @toilet_hat4f_9_12.count if @toilet_hat4f_9_12.present? %>
  </td>
  <td class="event-td"> <!--2f/トイレ・排泄/12~14時/-->
    <%= @toilet_hat2f_12_14.count if @toilet_hat2f_12_14.present? %>
  </td>
  <td class="event-td"> <!--3f/トイレ・排泄/12~14時/-->
    <%= @toilet_hat3f_12_14.count if @toilet_hat3f_12_14.present? %>
  </td>
  <td class="event-td"> <!--4f/トイレ・排泄/12~14時/-->
    <%= @toilet_hat4f_12_14.count if @toilet_hat4f_12_14.present? %>
  </td>
  <td class="event-td"> <!--2f/トイレ・排泄/14~17時/-->
    <%= @toilet_hat2f_14_17.count if @toilet_hat2f_14_17.present? %>
  </td>
  <td class="event-td"> <!--3f/トイレ・排泄/14~17時/-->
    <%= @toilet_hat3f_14_17.count if @toilet_hat3f_14_17.present? %>
  </td>
  <td class="event-td"> <!--4f/トイレ・排泄/14~17時/-->
    <%= @toilet_hat4f_14_17.count if @toilet_hat4f_14_17.present? %>
  </td>
  <td class="event-td"> <!--2f/トイレ・排泄/17~19時/-->
    <%= @toilet_hat2f_17_19.count if @toilet_hat2f_17_19.present? %>
  </td>
  <td class="event-td"> <!--3f/トイレ・排泄/17~19時/-->
    <%= @toilet_hat3f_17_19.count if @toilet_hat3f_17_19.present? %>
  </td>
  <td class="event-td"> <!--4f/トイレ・排泄/17~19時/-->
    <%= @toilet_hat4f_17_19.count if @toilet_hat4f_17_19.present? %>
  </td>
  <td class="event-td"> <!--2f/トイレ・排泄/19~22時/-->
    <%= @toilet_hat2f_19_22.count if @toilet_hat2f_19_22.present? %>
  </td>
  <td class="event-td"> <!--3f/トイレ・排泄/19~22時/-->
    <%= @toilet_hat3f_19_22.count if @toilet_hat3f_19_22.present? %>
  </td>
  <td class="event-td"> <!--4f/トイレ・排泄/19~22時/-->
    <%= @toilet_hat4f_19_22.count if @toilet_hat4f_19_22.present? %>
  </td>
  <td class="event-td"> <!--2f/トイレ・排泄/22~3時/-->
    <%= @toilet_hat2f_22_3.count if @toilet_hat2f_22_3.present? %>
  </td>
  <td class="event-td"> <!--3f/トイレ・排泄/22~3時/-->
    <%= @toilet_hat3f_22_3.count if @toilet_hat3f_22_3.present? %>
  </td>
  <td class="event-td"> <!--4f/トイレ・排泄/22~3時/-->
    <%= @toilet_hat4f_22_3.count if @toilet_hat4f_22_3.present? %>
  </td>
  <td class="event-td"> <!--2f/トイレ・排泄/3~7時/-->
    <%= @toilet_hat2f_3_7.count if @toilet_hat2f_3_7.present? %>
  </td>
  <td class="event-td"> <!--3f/トイレ・排泄/3~7時/-->
    <%= @toilet_hat3f_3_7.count if @toilet_hat3f_3_7.present? %>
  </td>
  <td class="event-td"> <!--4f/トイレ・排泄/3~7時/-->
    <%= @toilet_hat4f_3_7.count if @toilet_hat4f_3_7.present? %>
  </td>
  <td class="event-td"> <!--2f/合計-->
    <%= @toilet_hat_accidents2f.count %>
  </td>
  <td class="event-td"> <!--3f/合計-->
    <%= @toilet_hat_accidents3f.count %>
  </td>
  <td class="event-td"> <!--4f/合計-->
    <%= @toilet_hat_accidents4f.count %>
  </td>
</tr>