<tr>
  <td class="event-td">総合計</td>
  <td class="event-td"> <!--2f/場面総合計/7~9時/-->
    <%= @total_scene_hat2f_7_9.count %>
  </td>
  <td class="event-td"> <!--3f/場面総合計/7~9時/-->
    <%= @total_scene_hat3f_7_9.count %>
  </td>
  <td class="event-td"> <!--4f/場面総合計/7~9時/-->
    <%= @total_scene_hat4f_7_9.count %>
  </td>
  <td class="event-td"> <!--医務/場面総合計/7~9時/-->
    0
  </td>
  <td class="event-td"> <!--2f/場面総合計/9~12時/-->
    <%= @total_scene_hat2f_9_12.count %>
  </td>
  <td class="event-td"> <!--3f/場面総合計/9~12時/-->
    <%= @total_scene_hat3f_9_12.count %>
  </td>
  <td class="event-td"> <!--4f/場面総合計/9~12時/-->
    <%= @total_scene_hat4f_9_12.count %>
  </td>
  <td class="event-td"> <!--医務/場面総合計/9~12時/-->
    0
  </td>
  <td class="event-td"> <!--2f/場面総合計/12~14時/-->
    <%= @total_scene_hat2f_12_14.count %>
  </td>
  <td class="event-td"> <!--3f/場面総合計/12~14時/-->
    <%= @total_scene_hat3f_12_14.count %>
  </td>
  <td class="event-td"> <!--4f/場面総合計/12~14時/-->
    <%= @total_scene_hat4f_12_14.count %>
  </td>
  <td class="event-td"> <!--医務/場面総合計/12~14時/-->
    0
  </td>
  <td class="event-td"> <!--2f/場面総合計/14~17時/-->
    <%= @total_scene_hat2f_14_17.count %>
  </td>
  <td class="event-td"> <!--3f/場面総合計/14~17時/-->
    <%= @total_scene_hat3f_14_17.count %>
  </td>
  <td class="event-td"> <!--4f/場面総合計/14~17時/-->
    <%= @total_scene_hat4f_14_17.count %>
  </td>
  <td class="event-td"> <!--医務/場面総合計/14~17時/-->
    0
  </td>
  <td class="event-td"> <!--2f/場面総合計/17~19時/-->
    <%= @total_scene_hat2f_17_19.count %>
  </td>
  <td class="event-td"> <!--3f/場面総合計/17~19時/-->
    <%= @total_scene_hat3f_17_19.count %>
  </td>
  <td class="event-td"> <!--4f/場面総合計/17~19時/-->
    <%= @total_scene_hat4f_17_19.count %>
  </td>
  <td class="event-td"> <!--医務/場面総合計/17~19時/-->
  </td>
  <td class="event-td"> <!--2f/場面総合計/19~22時/-->
    <%= @total_scene_hat2f_19_22.count %>
  </td>
  <td class="event-td"> <!--3f/場面総合計/19~22時/-->
    <%= @total_scene_hat3f_19_22.count %>
  </td>
  <td class="event-td"> <!--4f/場面総合計/19~22時/-->
    <%= @total_scene_hat4f_19_22.count %>
  </td>
  <td class="event-td"> <!--医務/場面総合計/19~22時/-->
    0
  </td>
  <td class="event-td"> <!--2f/場面総合計/22~3時/-->
    <%= @total_scene_hat2f_22_3.count %>
  </td>
  <td class="event-td"> <!--3f/場面総合計/22~3時/-->
    <%= @total_scene_hat3f_22_3.count %>
  </td>
  <td class="event-td"> <!--4f/場面総合計/22~3時/-->
    <%= @total_scene_hat4f_22_3.count %>
  </td>
  <td class="event-td"> <!--医務/場面総合計/22~3時/-->
    0
  </td>
  <td class="event-td"> <!--2f/場面総合計/3~7時/-->
    <%= @total_scene_hat2f_3_7.count %>
  </td>
  <td class="event-td"> <!--3f/場面総合計/3~7時/-->
    <%= @total_scene_hat3f_3_7.count %>
  </td>
  <td class="event-td"> <!--4f/場面総合計/3~7時/-->
    <%= @total_scene_hat4f_3_7.count %>
  </td>
  <td class="event-td"> <!--医務/場面総合計/3~7時/-->
    0
  </td>
  <td class="event-td"> <!--2f/合計-->
    <%= @total_scene_hat_accidents2f.count %>
  </td>
  <td class="event-td"> <!--3f/合計-->
    <%= @total_scene_hat_accidents3f.count %>
  </td>
  <td class="event-td"> <!--4f/合計-->
    <%= @total_scene_hat_accidents4f.count %>
  </td>
  <td class="event-td"> <!--医務/合計-->
    0
  </td>
</tr>