<% provide(:title, 'ヒヤリ編集') %>
<% provide(:button_text, 'ヒヤリ・事故報告書　更新 ') %>

<h1 class="title-position">【編集】<%= @accident.which_accident %>報告書</h1>

<%= form_with(model: @senior, url: facility_senior_accident_path, local: true, method: :patch) do |f| %>
  <%= f.fields_for :accidents do |ac| %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <table class="table table-bordered table-condensed sign-table">
            <thead>
            <tr>
              <th class="sign-th">施設長</th>
              <th class="sign-th">次長</th>
              <th class="sign-th">リスマネ</th>
              <th class="sign-th">担当係長</th>
              <th class="sign-th">担当職員</th>
              <th class="sign-th">家族連絡</th>
            </tr>
            </thead>
            <tbody>
            <tr class="sign-box">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
              <td colspan="3">
                <div class="label-inline-flex-new">
                  <div></div>
                  <%= ac.label "報告日" %>&emsp;
                  <% if @accident.reporting_date.present? %>
                    <%= ac.date_select :reporting_date, {default: @accident.reporting_date, use_month_numbers: true}, {class: "form-control bootstrap-date input-sm"} %>
                  <% else %>
                    <%= ac.date_select :reporting_date, {prompt: :include_blank}, {class: "form-control bootstrap-date input-sm"} %>
                  <% end %>
                </div>
              </td>
              <td colspan="3">
                <div class="label-inline-flex-new">
                  <%= ac.label "最終報告日" %>&emsp;
                  <% if @accident.last_reporting_date.present? %>
                    <%= ac.date_select :last_reporting_date, {default: @accident.last_reporting_date, use_month_numbers: true}, {class: "form-control bootstrap-date input-sm"} %>
                  <% else %>
                    <%= ac.date_select :last_reporting_date, {prompt: :include_blank}, {class: "form-control bootstrap-date input-sm"} %>
                  <% end %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="pull-left">
        <%= ac.label "ヒヤリ・事故選択" %>
        <%= ac.select :which_accident, {ヒヤリハット: "ヒヤリハット", 事故: "事故"}, {selected: @accident.which_accident}, class: "form-control" %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-condensed table-hover sign-table">
            <thead>
            <tr>
              <th class="report-th" colspan="4">部署・報告者</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th class="report-index" style="vertical-align: middle">部署</th>
              <td class="report-td">
                <div>
                  <%= ac.select :department, {特養: "特養", 通所: "通所", 居宅サービス: "居宅サービス", 管理: "管理", 栄養: "栄養"},
                                {selected: @accident.department}, class: "form-control" %>
                </div>
              </td>
              <th class="report-index" style="vertical-align: middle;">報告者</th>
              <td class="report-td">
                <%= ac.select :reporter, Worker.all.where(working_flg: true).order(:worker_name_call).map { |worker| [worker.worker_name, worker.worker_name] },
                              {selected: @accident.reporter}, class: "form-control" %>
              </td>
            </tr>
            </tbody>

            <thead>
            <tr>
              <th class="report-th" colspan="4">具体的内容</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th class="report-index" style="vertical-align: middle">日付</th>
              <td class="report-td">
                <div>
                  <%= ac.date_select :accident_datetime, {default: @accident.accident_datetime, use_month_numbers: true}, {class: "form-control bootstrap-date"} %>
                </div>
              </td>
              <th class="report-index" style="vertical-align: middle;">時間</th>
              <td class="report-td">
                <%= ac.time_select :accident_time, {default: @accident.accident_time, minute_step: 15},{class: "form-control bootstrap-date"} %>
              </td>
            </tr>
            <tr>
              <th class="report-index" style="vertical-align: middle">対象者</th>
              <td class="report-td" style="color: red; vertical-align: middle;">
                <%= @senior.senior_name %>
                <%= ac.hidden_field :accident_floor, value: @senior.floor %>
              </td>
              <th class="report-index" style="vertical-align: middle">関与者</th>
              <td>
                <%= ac.select :accident_worker, Worker.all.where(working_flg: true).order(:worker_name_call).map { |worker| [worker.worker_name, worker.worker_name] },
                              {selected: @accident.accident_worker}, class: "form-control" %>
              </td>
            </tr>
            <tr>
              <th class="report-index" style="vertical-align: middle">場所</th>
              <td class="report-td">
                <%= ac.text_field :accident_place, value: @accident.accident_place, placeholder: "ヒヤリ・事故が起こった場所", class: "form-control" %>
              </td>
              <th class="report-index" style="vertical-align: middle">活動等</th>
              <td class="report-td">
                <%= ac.text_field :active, value: @accident.active, placeholder: "職員の活動内容", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <th class="report-index" style="vertical-align: middle">状況・職員の動き<div class="select-choice">※ 必須</div></th>
              <td class="report-td-left" colspan="3">
                <%= ac.text_area :accident_scene, value: @accident.accident_scene, rows: 3, class: 'form-control',
                                 placeholder: "ヒヤリ・事故が起こった状況の詳細を記載" %>
              </td>
            </tr>
            <tr>
              <th class="report-index" style="vertical-align: middle">結果</th>
              <td class="report-td-left" colspan="3">
                <% if @accident.accident_result == "ヒヤリのみ" %>
                  <div class="radio-inline">
                    <%= ac.radio_button :accident_result, "ヒヤリのみ", checked: "checked" %>
                    <%= ac.label "ヒヤリのみ" %>
                  </div><br>
                  <div class="radio-inline">
                    <%= ac.radio_button :accident_result, "軽事故等" %>
                    <%= ac.label "軽事故等" %>
                    <%= ac.text_field :accident_result_comment, value: @accident.accident_result_comment, placeholder: "その後の経過や家族との連絡状況等を記載", class: "form-control" %>
                  </div>
                <% else %>
                  <div class="radio-inline">
                    <%= ac.radio_button :accident_result, "ヒヤリのみ" %>
                    <%= ac.label "ヒヤリのみ" %>
                  </div><br>
                  <div class="radio-inline">
                    <%= ac.radio_button :accident_result, "軽事故等", checked: "checked" %>
                    <%= ac.label "軽事故等" %>
                    <%= ac.text_field :accident_result_comment, value: @accident.accident_result_comment, placeholder: "その後の経過や家族との連絡状況等を記載", class: "form-control" %>
                  </div>
                <% end %>
              </td>
            </tr>
            </tbody>
            <thead>
            <tr>
              <th class="report-th" colspan="2">場面・活動状況</th>
              <th class="report-th" colspan="2">出来事の領域別分類</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="report-td" style="width: 15%;">
                <%= ac.select :activity_scene, Accident.activity_scenes.keys.to_a, {selected: @accident.activity_scene}, { class: "form-control" } %>
              </td>
              <td class="report-td">
                <%= ac.text_field :other_activity_scene, value: @accident.other_activity_scene, placeholder: "※「その他」は具体的に記載", class: "form-control" %>
              </td>
              <td class="report-td" style="width: 15%;">
                <%= ac.select :event_classification, Accident.event_classifications.keys.to_a, {selected: @accident.event_classification}, { class: "form-control" } %>
              </td>
              <td class="report-td">
                <%= ac.text_field :other_event, value: @accident.other_event, placeholder: "※「その他」は具体的に記載", class: "form-control" %>
              </td>
            </tr>
            </tbody>
            <thead>
            <tr>
              <th class="report-th" colspan="4">原因・対策・効果等</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th class="report-index" style="vertical-align: middle">原因・要因</th>
              <td class="report-td-left" colspan="2">
                <%= ac.text_area :result_comment, value: @accident.result_comment, rows: 4, class: 'form-control',
                                 placeholder: "具体的な原因・要因を記載" %>
              </td>
              <td class="report-td-left">
                <div class="field">
                  【<%= ac.label :result_worker, "職員側" %>】&nbsp;
                  <% %w(支援ミス スキル不足 勤務態度 情報の共有 アセス不足 環境・設備面).each do |item| %>
                    <%= check_box_tag 'senior[accidents][result_worker][]', item %>
                    <%= item %>
                  <% end %><br>
                  【<%= ac.label :result_senior, "利用者側" %>】&nbsp;
                  <% %w(体調不良 精神的不安定 発作 特性 加齢).each do |item| %>
                    <%= check_box_tag 'senior[accidents][result_senior][]', item %>
                    <%= item %>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="report-index" style="vertical-align: middle">教訓・対策</th>
              <td class="report-td-left" colspan="2">
                <%= ac.text_area :measures_comment, value: @accident.measures_comment, rows: 4, class: 'form-control',
                                 placeholder: "フロミ後、教訓・対策を記載" %>
              </td>
              <td class="report-td-left">
                <div class="field" style="padding-top: 11px">
                  【<%= ac.label :measures, "改善点" %>】&nbsp;
                  <% %w(支援の改善 利用者の把握 周知の徹底 マニュアル整備 情報の共有 職員教育 環境改善 その他).each do |item| %>
                    <%= check_box_tag 'senior[accidents][measures][]', item %>
                    <%= item %>
                  <% end %><br>
                </div>
              </td>
            </tr>
            <tr>
              <th class="report-index" style="vertical-align: middle">対策変更</th>
              <td class="report-td-left" colspan="3">
                <%= ac.text_field :change_measures, value: @accident.change_measures, placeholder: "事故防止の為に変更した対策を記載", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <th class="report-index" style="vertical-align: middle">効果<br>（翌月評価）</th>
              <td class="report-td-left" colspan="2">
                <%= ac.label "評価日" %>
                <% if @accident.evaluation_date.present? %>
                  <%= ac.date_select :evaluation_date, {default: @accident.evaluation_date, use_month_numbers: true}, {class: "form-control bootstrap-date input-sm"} %>
                <% else %>
                  <%= ac.date_select :evaluation_date, {prompt: :include_blank}, {class: "form-control bootstrap-date input-sm"} %>
                <% end %>
                <div id="evaluation-top">
                  <%= ac.text_field :evaluation_comment, value: @accident.evaluation_comment, placeholder: "対策後の状況を評価", class: "form-control" %>
                </div>
              </td>
              <td class="report-td-left" style="padding-top: 14px">
                <%= ac.label "【解決状況】" %>
                <% if @accident.measures_result.present? %>
                  <%= ac.select :measures_result, Accident.measures_results.keys.to_a, {selected: @accident.measures_result}, { class: "form-control" } %>
                <% else %>
                  <%= ac.select :measures_result, Accident.measures_results.keys.to_a, {prompt: "その後の経過を選択して下さい。"}, { class: "form-control" } %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="report-index" style="vertical-align: middle">責任者等<br>コメント</th>
              <td class="report-td-left" colspan="3">
                <%= ac.text_area :superior_comment, value: @accident.superior_comment, rows: 2, class: "form-control" %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <table class="table table-bordered table-condensed sign-table">
            <thead>
            <tr>
              <th class="sign-th">施設長</th>
              <th class="sign-th">次長</th>
              <th class="sign-th">リスマネ</th>
              <th class="sign-th">担当係長</th>
            </tr>
            </thead>
            <tbody>
            <tr class="sign-box">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <%= f.submit yield(:button_text), class: "btn-flat-logo" %>
<% end %>


