<% provide(:title, 'ヒヤリ集計') %>

<div id="facility-name" style="margin-bottom: 30px;">
  <h3><%= current_facility.name %></h3>
</div>

<h1 class="title-position-center"><%= params[:month].to_date.strftime("%Y年 %m月 ") %>ヒヤリ報告書集計</h1>

<div class="container">
  <div class="col-md-12 tab-table">
    <div class="vertical-scroll-table">
      <table id="table-scroll" class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="month-spreadsheet-thead" style="width: 12%"></th>
            <th class="month-spreadsheet-thead" colspan="4">7:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">9:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">12:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">14:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">17:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">19:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">22:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">3:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">合計</th>
          </tr>
          <tr>
            <th class="floor-color">出来事</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
          </tr>
        </thead>
        <tbody>
          <%= render "fall_hat" %>
          <%= render "missing_hat" %>
          <%= render "meal_hat" %>
          <%= render "medicine_hat" %>
          <%= render "scratch_hat" %>
          <%= render "environment_hat" %>
          <%= render "info_hat" %>
          <%= render "personal_hat" %>
          <%= render "lost_hat" %>
          <%= render "damage_hat" %>
          <%= render "money_hat" %>
          <%= render "medical_hat" %>
          <%= render "infection_hat" %>
          <%= render "forget_hat" %>
          <%= render "other_hat" %>
          <%= render "total_hat" %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12 tab-table">
    <div class="vertical-scroll-table">
      <table id="table-scroll" class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="month-spreadsheet-thead" style="width: 12%"></th>
            <th class="month-spreadsheet-thead" colspan="4">7:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">9:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">12:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">14:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">17:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">19:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">22:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">3:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">合計</th>
          </tr>
          <tr>
            <th class="floor-color">場面</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
          </tr>
        </thead>
        <tbody>
          <%= render "service" %>
          <%= render "support" %>
          <%= render "lunch" %>
          <%= render "toilet" %>
          <%= render "bathing" %>
          <%= render "other_scene" %>
          <%= render "total_scene" %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});
    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);
    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['転倒・転落', <%= @fall_hat_accidents2f.count %>],
            ['行方不明・所在確認', 1],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'<%= params[:month].to_date.strftime("%Y年 %m月 ") %>ヒヤリハット集計',
            'width': 570,
            'height':600};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<!--Load the AJAX API-->
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['転倒・転落', <%= @fall_hat_accidents2f.count %>],
            ['行方不明・所在確認', 1],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
            'width':570,
            'height':600};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
    }
</script>

<body>
<!--Div that will hold the pie chart-->
<div id="chart_div" style="float: left"></div>
<div id="chart_div2" style="float: right"></div>
</body>


