<% provide(:title, 'ヒヤリ・事故集計') %>

<div id="facility-name" style="margin-bottom: 30px;">
  <h3><%= current_facility.name %></h3>
</div>

<h1 class="title-position-center"><%= params[:month].to_date.strftime("%Y年 %m月 ") %>ヒヤリハット集計</h1>

<div class="container">
  <div class="col-md-12 tab-table">
    <div class="vertical-scroll-table">
      <table id="table-scroll" class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="month-spreadsheet-thead" style="width: 12%"></th>
            <th class="month-spreadsheet-thead" colspan="4">7:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">9:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">12:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">14:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">17:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">19:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">22:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">3:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">合計</th>
          </tr>
          <tr>
            <th class="floor-color">出来事</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
          </tr>
        </thead>
        <tbody>
          <%= render "fall_hat" %>
          <%= render "missing_hat" %>
          <%= render "meal_hat" %>
          <%= render "medicine_hat" %>
          <%= render "scratch_hat" %>
          <%= render "environment_hat" %>
          <%= render "info_hat" %>
          <%= render "personal_hat" %>
          <%= render "lost_hat" %>
          <%= render "damage_hat" %>
          <%= render "money_hat" %>
          <%= render "medical_hat" %>
          <%= render "infection_hat" %>
          <%= render "forget_hat" %>
          <%= render "other_hat" %>
          <%= render "total_hat" %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12 tab-table">
    <div class="vertical-scroll-table">
      <table id="table-scroll" class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="month-spreadsheet-thead" style="width: 12%"></th>
            <th class="month-spreadsheet-thead" colspan="4">7:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">9:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">12:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">14:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">17:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">19:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">22:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">3:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">合計</th>
          </tr>
          <tr>
            <th class="floor-color">場面</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
          </tr>
          </thead>
          <% check = nil %>
          <%# @accidents.each do |accident| %>
          <%# if current_facility.id == accident.senior.facility_id %>
          <tbody>
          <%= render "service" %>
          <tr>
            <td class="event-td">活動・支援（施設内/外出）</td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
          </tr>
          <tr>
            <td class="event-td">給食・配膳</td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
          </tr>
          <tr>
            <td class="event-td">トイレ・排泄</td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
          </tr>
          <tr>
            <td class="event-td">入浴</td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
          </tr>
          <tr>
            <td class="event-td">その他 ※</td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
          </tr>
          <tr>
            <td class="event-td">総合計</td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
            <td class="event-td"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
