<% provide(:title, 'ヒヤリ集計') %>

<div id="facility-name" style="margin-bottom: 30px;">
  <h3><%= current_facility.name %></h3>
</div>

<h1 class="title-position-center"><%= params[:month].to_date.strftime("%Y年 %m月 ") %>ヒヤリ報告書集計</h1>

<div class="container">
  <div class="col-md-12 tab-table">
    <div class="vertical-scroll-table">
      <table id="table-scroll" class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="month-spreadsheet-thead" style="width: 12%"></th>
            <th class="month-spreadsheet-thead" colspan="4">7:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">9:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">12:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">14:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">17:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">19:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">22:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">3:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">合計</th>
          </tr>
          <tr>
            <th class="floor-color">出来事</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
          </tr>
        </thead>
        <tbody>
          <%= render "fall_hat" %>
          <%= render "missing_hat" %>
          <%= render "meal_hat" %>
          <%= render "medicine_hat" %>
          <%= render "scratch_hat" %>
          <%= render "environment_hat" %>
          <%= render "info_hat" %>
          <%= render "personal_hat" %>
          <%= render "lost_hat" %>
          <%= render "damage_hat" %>
          <%= render "money_hat" %>
          <%= render "medical_hat" %>
          <%= render "infection_hat" %>
          <%= render "forget_hat" %>
          <%= render "other_hat" %>
          <%= render "total_hat" %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12 tab-table">
    <div class="vertical-scroll-table">
      <table id="table-scroll" class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="month-spreadsheet-thead" style="width: 12%"></th>
            <th class="month-spreadsheet-thead" colspan="4">7:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">9:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">12:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">14:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">17:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">19:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">22:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">3:00~</th>
            <th class="month-spreadsheet-thead" colspan="4">合計</th>
          </tr>
          <tr>
            <th class="floor-color">場面</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
            <th class="floor-color">2F</th>
            <th class="floor-color">3F</th>
            <th class="floor-color">4F</th>
            <th class="floor-color">医務</th>
          </tr>
        </thead>
        <tbody>
          <%= render "service" %>
          <%= render "support" %>
          <%= render "lunch" %>
          <%= render "toilet" %>
          <%= render "bathing" %>
          <%= render "other_scene" %>
          <%= render "total_scene" %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Load the AJAX API-->
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['2階ヒヤリハット', '件数'],
            ['転倒・転落', <%= @fall_hat_accidents2f.count %>],
            ['行方不明・所在不明', <%= @missing_hat_accidents2f.count %>],
            ['飲食に関すること', <%= @meal_hat_accidents2f.count %>],
            ['薬に関すること', <%= @medicine_hat_accidents2f.count %>],
            ['他害・自傷行為', <%= @scratch_hat_accidents2f.count %>],
            ['環境', <%= @environment_hat_accidents2f.count %>],
            ['情報・連絡・報告', <%= @info_contact_hat_accidents2f.count %>],
            ['個人情報・人権', <%= @personal_info_hat_accidents2f.count %>],
            ['紛失', <%= @lost_hat_accidents2f.count %>],
            ['器物破損', <%= @damage_hat_accidents2f.count %>],
            ['金銭', <%= @money_hat_accidents2f.count %>],
            ['医療的ケア', <%= @medical_care_hat_accidents2f.count %>],
            ['感染症', <%= @infection_hat_accidents2f.count %>],
            ['忘れ物・返却忘れ', <%= @forget_hat_accidents2f.count %>],
            ['その他', <%= @other_hat_accidents2f.count %>],
        ]

        );

        var options = {
            title: '2階ヒヤリハット件数',
            is3D: true,
            backgroundColor: '#FFFFEE',
            // colors: ['red', 'blue', 'green']
            slices: [0, {offset: 0.5}]

        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
</script>

<body>
<!--Div that will hold the pie chart-->
<div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</body>


