<% provide(:title, 'ヒヤリ・事故報告書/新規作成') %>

<img src="/assets/1862315.jpg" alt="" width="130" height="130" border="0" style="margin-top: 50px; float: right;"/>

<h1 class="title-position">ヒヤリ・事故報告書の新規作成</h1>

<div class="container">
  <ul class="nav nav-tabs font-M">
    <li class="active"><a href="#2f" data-toggle="tab">2階フロア</a></li>
    <li><a href="#3f" data-toggle="tab">3階フロア</a></li>
    <li><a href="#4f" data-toggle="tab">4階フロア</a></li>
    <li><a href="#no_present" data-toggle="tab">退所者一覧</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="2f">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="active-color">
            <th class="active-position" colspan="3">現在利用中</th>
          </tr>
          <tr class="th-index">
            <th style="text-align: center">利用者名</th>
            <th style="text-align: center">担当職員</th>
            <th style="text-align: center"></th>
          </tr>
          </thead>
          <% @seniors2f.each do |senior| %>
            <% if current_facility.id == senior.facility_id %>
              <tbody>
              <tr>
                <td class="senior_name_space" rowspan="3" style="padding-top: 9px">
                  <%= senior.senior_name %>
                  <% if senior.senior_name_call.present? %>
                    (<%= senior.senior_name_call %>)
                  <% else %>
                    <%= senior.senior_name_call %>
                  <% end %>
                </td>
                <td class="charge_worker_space" rowspan="3" style="padding-top: 9px">
                  <% seniors = senior.senior_workers %>
                  <% seniors.each do |se| %>
                    <% if se.worker.working_flg == true && seniors.count < 3 %>
                      <%= se.worker.worker_name %><br>
                    <% elsif se.worker.working_flg == true && seniors.count >= 3 %>
                      <div class="count-warning">
                        <%= se.worker.worker_name %><br>
                      </div>
                    <% end %>
                  <% end %>
                </td>
                <td class="index-btn-position" rowspan="3">
                  <%= link_to "ヒヤリ・事故報告書/新規作成", new_facility_senior_accident_path(@facility, senior), local: true, class: "btn-square-shadow" %>

                </td>
              </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="3f">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="active-color">
            <th class="active-position" colspan="3">現在利用中</th>
          </tr>
          <tr class="th-index">
            <th style="text-align: center">利用者名</th>
            <th style="text-align: center">担当職員</th>
            <th style="text-align: center"></th>
          </tr>
          </thead>
          <% @seniors3f.each do |senior| %>
            <% if current_facility.id == senior.facility_id %>
              <tbody>
              <tr>
                <td class="senior_name_space" rowspan="3" style="padding-top: 9px">
                  <%= senior.senior_name %>
                  <% if senior.senior_name_call.present? %>
                    (<%= senior.senior_name_call %>)
                  <% else %>
                    <%= senior.senior_name_call %>
                  <% end %>
                </td>
                <td class="charge_worker_space" rowspan="3" style="padding-top: 9px">
                  <% seniors = senior.senior_workers %>
                  <% seniors.each do |se| %>
                    <% if se.worker.working_flg == true && seniors.count < 3 %>
                      <%= se.worker.worker_name %><br>
                    <% elsif se.worker.working_flg == true && seniors.count >= 3 %>
                      <div class="count-warning">
                        <%= se.worker.worker_name %><br>
                      </div>
                    <% end %>
                  <% end %>
                </td>
                <td class="index-btn-position" rowspan="3">
                  <%= link_to "編集", edit_senior_facility_senior_path(@facility, senior), remote: true, class: "btn btn-success" %>
                  <%= link_to "退所",leaving_facility_senior_path(@facility, senior), method: :patch,
                              data: { confirm: "「#{senior.senior_name}」さんを退所へ変更してよろしいですか？" }, class: "btn btn-warning"%>
                  <%= link_to "削除", facility_senior_path(@facility, senior), method: :delete,
                              data: { confirm: "「#{senior.senior_name}」さんを削除してよろしいですか？" }, class: "btn btn-danger"  %>
                </td>
              </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="4f">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="active-color">
            <th class="active-position" colspan="3">現在利用中</th>
          </tr>
          <tr class="th-index">
            <th style="text-align: center">利用者名</th>
            <th style="text-align: center">担当職員</th>
            <th style="text-align: center"></th>
          </tr>
          </thead>
          <% @seniors4f.each do |senior| %>
            <% if current_facility.id == senior.facility_id %>
              <tbody>
              <tr>
                <td class="senior_name_space" rowspan="3" style="padding-top: 9px">
                  <%= senior.senior_name %>
                  <% if senior.senior_name_call.present? %>
                    (<%= senior.senior_name_call %>)
                  <% else %>
                    <%= senior.senior_name_call %>
                  <% end %>
                <td class="charge_worker_space" rowspan="3" style="padding-top: 9px">
                  <% seniors = senior.senior_workers %>
                  <% seniors.each do |se| %>
                    <% if se.worker.working_flg == true && seniors.count < 3 %>
                      <%= se.worker.worker_name %><br>
                    <% elsif se.worker.working_flg == true && seniors.count >= 3 %>
                      <div class="count-warning">
                        <%= se.worker.worker_name %><br>
                      </div>
                    <% end %>
                  <% end %>
                </td>
                <td class="index-btn-position" rowspan="3">
                  <%= link_to "編集", edit_senior_facility_senior_path(@facility, senior), remote: true, class: "btn btn-success" %>
                  <%= link_to "退所",leaving_facility_senior_path(@facility, senior), method: :patch,
                              data: { confirm: "「#{senior.senior_name}」さんを退所へ変更してよろしいですか？" }, class: "btn btn-warning"%>
                  <%= link_to "削除", facility_senior_path(@facility, senior), method: :delete,
                              data: { confirm: "「#{senior.senior_name}」さんを削除してよろしいですか？" }, class: "btn btn-danger"  %>
                </td>
              </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="no_present">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="no-active-color">
            <th class="active-position" colspan="3">退所者一覧</th>
          </tr>
          <tr class="th-index-red">
            <th style="text-align: center">利用者名</th>
            <th style="text-align: center">旧担当職員</th>
            <th style="text-align: center"></th>
          </tr>
          </thead>
          <% @seniors_off.each do |senior| %>
            <% if current_facility.id == senior.facility_id %>
              <tbody>
              <tr class="off-senior">
                <td class="senior_name_space" rowspan="3" style="padding-top: 9px">
                  <%= senior.senior_name %>
                  <% if senior.senior_name_call.present? %>
                    (<%= senior.senior_name_call %>)
                  <% else %>
                    <%= senior.senior_name_call %>
                  <% end %>
                </td>
                <td class="charge_worker_space" rowspan="3" style="padding-top: 9px">
                  <% seniors = senior.senior_workers %>
                  <% seniors.each do |se| %>
                    <% if se.worker.working_flg == true && seniors.count < 3 %>
                      <%= se.worker.worker_name %><br>
                    <% elsif se.worker.working_flg == true && seniors.count >= 3 %>
                      <div class="count-warning">
                        <%= se.worker.worker_name %><br>
                      </div>
                    <% end %>
                  <% end %>
                </td>
                <td class="index-btn-position" rowspan="3">
                  <%= link_to "再入所",re_entry_facility_senior_path(@facility, senior), method: :patch,
                              data: { confirm: "「#{senior.senior_name}」さん（#{senior.floor}階）を再入所へ変更してよろしいですか？" }, class: "btn btn-info"%>
                  <%= link_to "削除", facility_senior_path(@facility, senior), method: :delete,
                              data: { confirm: "「#{senior.senior_name}」さんを削除してよろしいですか？" }, class: "btn btn-danger"  %>
                </td>
              </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
