<% provide(:title, @senior.senior_name + "-印刷画面") %>

<% if @accident.which_accident == "ヒヤリハット" %>
  <h3 class="title-position-print"><%= @senior.senior_name %>&emsp;ヒヤリ報告書<span id="level">（レベル0~2）</span></h3>
  <p class="title-position-department">部署名: &emsp;&emsp;報告者: <%= @accident.reporter %></p>
<% else %>
  <h3 class="title-position-print">事故報告書</h3>
  <p class="title-position-department">部署名: &emsp;&emsp;報告者: <%= @accident.reporter %></p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <table class="table table-bordered table-condensed sign-table">
        <thead>
          <tr>
            <th class="sign-th">施設長</th>
            <th class="sign-th">次長</th>
            <th class="sign-th">リスマネ</th>
            <th class="sign-th">担当係長</th>
            <th class="sign-th">担当職員</th>
            <th class="sign-th">家族連絡</th>
          </tr>
        </thead>
        <tbody>
          <tr class="sign-box">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-condensed table-hover sign-table">
        <thead>
          <tr>
            <th class="report-th" colspan="4">具体的内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="report-index">日付</th>
            <td class="report-td"><%= l(@accident.accident_datetime, format: :date) %></td>
            <th class="report-index">時間</th>
            <td class="report-td"><%= l(@accident.accident_datetime, format: :ja_time) %></td>
          </tr>
          <tr>
            <th class="report-index">対象者</th>
            <td class="report-td"><%= @senior.senior_name %></td>
            <th class="report-index">関与者</th>
            <td></td>
          </tr>
          <tr>
            <th class="report-index">場所</th>
            <td class="report-td"></td>
            <th class="report-index">活動等</th>
            <td class="report-td"></td>
          </tr>
          <tr>
            <th class="report-index">状況・職員の動き</th>
            <td class="report-td-left" colspan="3">&emsp;<%= @accident.accident_scene %></td>
          </tr>
          <tr>
            <th class="report-index">結果</th>
            <td class="report-td-left" colspan="3">&emsp;<%= @accident.accident_result %></td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th class="report-th" colspan="2">場面・活動状況</th>
            <th class="report-th" colspan="4">出来事の領域別分類</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="report-td" colspan="2">トイレ・排泄</td>
            <td class="report-td"colspan="2">転倒・転落</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th class="report-th" colspan="4">原因・対策・効果等</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="report-index">原因・要因</th>
            <td class="report-td-left" colspan="3"></td>
          </tr>
          <tr>
            <th class="report-index">教訓・対策</th>
            <td class="report-td-left" colspan="3"></td>
          </tr>
          <tr>
            <th class="report-index">対策変更</th>
            <td class="report-td-left" colspan="3"></td>
          </tr>
          <tr>
            <th class="report-index">効果<br>（翌月評価）</th>
            <td class="report-td-left" colspan="2"></td>
            <td class="report-td-left"></td>
          </tr>
          <tr>
            <th class="report-index">責任者等<br>コメント</th>
            <td class="report-td-left" colspan="3"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <table class="table table-bordered table-condensed sign-table">
        <thead>
        <tr>
          <th class="sign-th">施設長</th>
          <th class="sign-th">次長</th>
          <th class="sign-th">リスマネ</th>
          <th class="sign-th">担当係長</th>
        </tr>
        </thead>
        <tbody>
        <tr class="sign-box">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
