<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '新規登録') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">職員新規登録</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @worker, url: create_worker_facility_workers_path(@facility), local: true, method: :post) do |f| %>

            <%= f.label :worker_name, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :worker_name, placeholder: "田中 幸子", class: "form-control" %>

            <%= f.label :worker_name_call, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :worker_name_call, placeholder: "たなかさちこ（ひらがな）", class: "form-control" %>

            <%= f.label :sign_name, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :sign_name, placeholder: "田中", class: "form-control" %>

            <%= f.label :working_floor, class: "label-#{yield(:class_text)}" %>
            <%= f.select :working_floor, [['2階', 2], ['3階', 3], ['4階', 4]], {prompt: "所属階を選択"}, class: "form-control" %>

            <%= f.label :charge_senior, class: "label-#{yield(:class_text)}" %>

            <p id="choice">※ 最大６名まで登録できます。</p>
            <div class="check-position">
              <%= f.collection_check_boxes :senior_ids, @seniors, :id, :senior_name, {}, class: "form-control check-hidden" %>
            </div>

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>