<% provide(:title, '職員一覧') %>
<% provide(:button_text, '登録') %>

<h1 class="title-position">職員一覧</h1>

<div id="new-senior-btn">
  <%= link_to "職員新規作成", new_worker_facility_workers_path(current_facility), remote: true, class: "btn-square-shadow" %>
</div>

<div class="container">
  <ul class="nav nav-tabs font-M">
    <li class="active"><a href="#2f" data-toggle="tab">2階フロア</a></li>
    <li><a href="#3f" data-toggle="tab">3階フロア</a></li>
    <li><a href="#4f" data-toggle="tab">4階フロア</a></li>
    <li><a href="#no_present" data-toggle="tab">退職者一覧</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="2f">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="active-color-worker">
            <th class="active-position" colspan="2">現在在職中</th>
          </tr>
          </thead>
          <% @workers2f.each do |worker| %>
            <% if current_facility.id == worker.facility_id %>
              <tbody>
                <tr>
                  <td class="senior_name_space" rowspan="3" style="padding-top: 9px">
                    <%= worker.worker_name %>
                    <% if worker.worker_name_call.present? %>
                      (<%= worker.worker_name_call %>)
                    <% else %>
                      <%= worker.worker_name_call %>
                    <% end %>
                  </td>
                  <td class="index-btn-position">
                    <%= link_to "編集", edit_worker_facility_worker_path(@facility, worker), remote: true, class: "btn btn-success" %>
                    <%= link_to "退職",retirement_facility_worker_path(@facility, worker), method: :patch,
                                data: { confirm: "職員「#{worker.worker_name}」さんを退職へ変更してよろしいですか？" }, class: "btn btn-warning"%>
                    <%= link_to "削除", "(@facility, worker)", method: :delete,
                                data: { confirm: "職員「#{worker.worker_name}」さんを削除してよろしいですか？" }, class: "btn btn-danger"  %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="3f">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="active-color-worker">
            <th class="active-position" colspan="2">現在在職中</th>
          </tr>
          </thead>
          <% @workers3f.each do |worker| %>
            <% if current_facility.id == worker.facility_id %>
              <tbody>
                <tr>
                  <td class="senior_name_space" rowspan="3" style="padding-top: 9px">
                    <%= worker.worker_name %>
                    <% if worker.worker_name_call.present? %>
                      (<%= worker.worker_name_call %>)
                    <% else %>
                      <%= worker.worker_name_call %>
                    <% end %>
                  </td>
                  <td class="index-btn-position">
                    <%= link_to "編集", edit_worker_facility_worker_path(@facility, worker), remote: true, class: "btn btn-success" %>
                    <%= link_to "退職",retirement_facility_worker_path(@facility, worker), method: :patch,
                                data: { confirm: "職員「#{worker.worker_name}」さんを退職へ変更してよろしいですか？" }, class: "btn btn-warning"%>
                    <%= link_to "削除", "(@facility, worker)", method: :delete,
                                data: { confirm: "職員「#{worker.worker_name}」さんを削除してよろしいですか？" }, class: "btn btn-danger"  %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="4f">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="active-color-worker">
            <th class="active-position" colspan="2">現在在職中</th>
          </tr>
          </thead>
          <% @workers4f.each do |worker| %>
            <% if current_facility.id == worker.facility_id %>
              <tbody>
                <tr>
                  <td class="senior_name_space" rowspan="3" style="padding-top: 9px">
                    <%= worker.worker_name %>
                    <% if worker.worker_name_call.present? %>
                      (<%= worker.worker_name_call %>)
                    <% else %>
                      <%= worker.worker_name_call %>
                    <% end %>
                  </td>
                  <td class="index-btn-position">
                    <%= link_to "編集", edit_worker_facility_worker_path(@facility, worker), remote: true, class: "btn btn-success" %>
                    <%= link_to "退職",retirement_facility_worker_path(@facility, worker), method: :patch,
                                 data: { confirm: "職員「#{worker.worker_name}」さんを退職へ変更してよろしいですか？" }, class: "btn btn-warning"%>
                    <%= link_to "削除", "(@facility, worker)", method: :delete,
                                 data: { confirm: "職員「#{worker.worker_name}」さんを削除してよろしいですか？" }, class: "btn btn-danger"  %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="no_present">
      <div class="col-md-12 tab-table">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr class="no-active-color">
            <th class="active-position" colspan="2">退職者一覧</th>
          </tr>
          </thead>
          <% @workers_off.each do |worker| %>
            <% if current_facility.id == worker.facility_id %>
              <tbody>
                <tr class="off-senior">
                  <td class="senior_name_space" rowspan="3" style="padding-top: 9px">
                    <%= worker.worker_name %>
                    <% if worker.worker_name_call.present? %>
                      (<%= worker.worker_name_call %>)
                    <% else %>
                      <%= worker.worker_name_call %>
                    <% end %>
                  </td>
                  <td class="index-btn-position">
                    <%= link_to "再就職", "#(@facility, worker)", method: :patch,
                                data: { confirm: "職員#{worker.worker_name}さん（#{worker.working_floor}階）を再入所へ変更してよろしいですか？" }, class: "btn btn-info"%>
                    <%= link_to "削除", "#(@facility, worker)", method: :delete,
                                data: { confirm: "職員#{worker.worker_name}さんを削除してよろしいですか？" }, class: "btn btn-danger"  %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<!--職員新規作成モーダル-->
<div id="new-worker" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--職員情報編集モーダル-->
<div id="edit-worker" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>